.btn {
	color:#FFF;
	background-color:$mainBlue;
	padding:.7rem 1.2rem;
	text-align:center;
	display:inline-block;

	&--orange {
		background-color:$mainOrange;
	}

	&--large {
		padding:0.7rem 1.2rem;

		@mixin atSmall {
			padding:0.9rem 1.8rem;
			font-size:1.25rem;
		}
	}
}